* {
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #fff;
    

   
}

body, html {
    height: 100%;



   
    
}
body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.form-box {
    width: 10rem;
    padding: 5rem;
    background-image: linear-gradient( 89.6deg, rgba(0,30,177,1) 34.2%, rgba(253,20,20,1) 103% );
    border-radius: 2rem;
    outline: none;
    
    text-align: center; 
    animation: myAnim 4s ease 0s infinite normal forwards;
}
.form-title {
    color: #fff;
    background: none;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;

    
}

.form-box input[type="text"], 
.form-box input[type="password"],
.form-box input[type="submit"] {
    outline: none;
    background: none;
    display: block;
    margin: 1rem auto;
    padding: .5rem .5rem;

    text-align: center;
    border: 1px solid blueviolet;
    color: #fff;
    width: 5rem;

    border-radius: 5rem ;
    transition: 0.25s ;
}

.form-box input[type="text"]:focus, 
.form-box input[type="password"]:focus {
    width: 7rem;
    border-color: #fff;
}

.form-box button[type="submit"] {
    border: 0;
    background:none;
    
    width: 8rem;
    padding: 1rem;
    border-radius: 5rem;

    font-size: 2rem;

}
.form-box button[type="submit"]:hover {
    border: 1px solid #000;
    background: #fff;
    color: #000;
    cursor: pointer;
    width: 8rem;
    padding: 1rem;
    border-radius: 5rem;
    letter-spacing: 3px;
    font-size: 2rem;
}

@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}